fieldset.fieldset1{
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid silver;
  margin-bottom: 2%;
}
legend.legend1{
  width:auto !important;
  border-bottom: unset
}
/*legend.legend2{*/
  /*width:auto !important;*/
  /*border-bottom: unset;*/
/*}*/
label.label1{
  font-weight: unset;
}

input.backcolor{
  background-color: white;
  width: 100%;
}